{% set handlebars = ["handlebars/error-message.html",
                     "handlebars/message-card.html",
                     "handlebars/no-messages-alert.html",
                     "handlebars/user-list-entry.html"] %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>EyeAreSee</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/project2.css') }}">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700"
  rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="{{ url_for('static',filename='js/project2.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
  {% for file in handlebars %}
    {% include file %}
  {% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% block body %}
  {% endblock %}
</body>

</html>