<div id="username-container">
  <div class="container">
    <div class="col col-md-8 col-lg-6 offset-md-2 offset-lg-3 pl-0 pr-0">
      <h2>Username</h2>
      <form id="username-form">
        <input type="username" class="form-control" id="username-input"
        aria-describedby="username" placeholder="enter username"
        autocomplete="off">
        <button class="btn btn-primary" id="username-submit" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>