{% extends "layouts/default.html" %}

{% block body %}
{% include "includes/error-message.html" %}
{% include "includes/username-registration.html" %}
{% include "includes/navbar.html" %}
{% include "includes/channels-nav.html" %}
{% include "includes/users-nav.html" %}
<div id="chat-container" class="d-flex flex-column-reverse">
  <div class="bottom-bar">
    <div class="container">
      {% include "includes/message-submission.html" %}
    </div>
  </div>
  {% include "includes/messages.html" %}
</div>
{% endblock %}